
/*-----------------------------------------------------------------------|
 | OpenTV Font Resource (RC) file: PTV_System_Fonts/SysFontStyle16.rc
 | Created on: Sat Aug 12 18:11:53 2006
 | By PowerTV Font Tool, PTV2RCFont.py Version 1.1
 | From: PTV_System_Fonts/SysFontStyle16.bft, Mon Oct 31 14:10:00 2005
 |-----------------------------------------------------------------------|
 | FONT NAME    : SysFontStyle16
 | FONT TYPE    : BMAP (Bitmap font, 1 bit per pixel)
 | FONT BITS    : 8 bits
 | RESOURCE NAME: SysFontStyle16
 |------------------------------------------------------------------------
 | FONT OPTIONS: 
 | Scaling Values: X -> 1.0, Y -> 1.0
 | Blank Pixels : Default Values
 |------------------------------------------------------------------------
 */

static unsigned char font_data_SysFontStyle16[] = {

/* 0x20, 32, ' ' at 0 */  5,1,0,
	0,

/* 0x21, 33, '!' at 4 */  3,12,12,
	255, 	/*    7:  ff */
	255, 	/*    8:  ff */
	 15, 	/*    9:  0f */
	  0, 	/*   10:  00 */
	  0, 	/*   11:  00 */
